<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chitter Api Tech Test</title>
  </head>
  <body>
    <h1>Peepline</h1>
    <ul>
      <% peeps.forEach(function(peep) { %>
          <li><%= peep.body %></li>
      <% }) %>
    </ul>
  </body>
</html>
